body{
    display: flex;
    height: 100%;
   
   
    flex-direction:column;
    
   

    
   
    
}
.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
.heading{
  
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
    width: 100%;
    height: 60px;
    
    margin-top: 80px;
    
   
    
    
    
}
.try-it-free{
    font-size:large;
    background-color: white;
    border: 1px solid pink ;
    color: pink;
    border-radius: 25px;
    width: 170px;
    height: 40px;
    align-content: center;
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 44px;
    font-weight: 100px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 7px;
   }
.para-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
   
    padding: 30px;
}
.para{
    /* border: 2px solid; */
    font-size: 15px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;

    
    
 }

.button-container{
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  
}

.button{
    font-size: 16px;
    color: white;
    border-radius: 50px;
    border: 0;
    width: 270px;
    height: 60px;
    background-color: rgb(249, 134, 215);
}

.box{
   
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.image1{
    height: 500px;
  
   
   
}
.box2{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 200px;
  
}
.num1{
   
    display: flex;
    flex-direction: column;
}

.num2{
    display: flex;
    flex-direction: column;
}
.no{
    font-weight: 400;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
}
.message{
    font-size: 20px;
    color: grey;
}

.wave{
    
    display: flex;

}
.text{
    background-color: rgb(207, 100%, 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px
}
.picture{
    display: flex;
    width: 50%;
}
.bold-font{
    font-size: 30px;
    font-weight: 200px;
    font-family: "Poppins", sans-serif;

}
.info{
    font-family: "Poppins", sans-serif;

}
.box3{
    background-color: hsl(192, 100%, 9%);
    display: flex;
    justify-content: space-between;
    padding: 50px;
    
}
.inside-box{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
.font{
    color: white;
    font-family: "Poppins", sans-serif;


}
